table { border: 1px solid silver; }

td:hover { background-color: beige; color: black; }

tr, th { background-color: darkseagreen; color: darkgreen; }

tr, td { background-color: gainsboro; color: midnightblue; }

